/* Basislayout */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    padding: 0;
    background-color: #505050;  
    /*
    background-image: url("afbeeldingen/SpaceX-Starship-SN9.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    */
    /*achtergrond nu in div met class achtergrond voor fixed pos. hier nog als backup mocht de andere manier niet meer werken door latere toevoegingen.*/
    
    color: #ffffff;
    font: Verdana, Arial, Sans-Serif;
    font-family: monospace;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    background-color: #22222270;
   
    
}

p {
    padding: 5px;   
}

ul{
    padding-left: 25px;
}

div{
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    
    text-align: center;
}


footer {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 10px;
    
}



/* specifieke stijlen */

.achtergrond{
    background-image: url("afbeeldingen/SpaceX-Starship-SN9.jpeg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    position:fixed;
}

#thrust{
    height: 200px;
}

#video-rechts{
float: right;
padding:8px;
}

.subtitle{
font-size: larger
}

.img {
    width: 250px;
}

img.zweefrechts{
    float: right;
    height: 170px;
    margin-left: 15px;
}
img.zweeflinks {
    height:170px;
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

.videolink{
    color: #ff0080;
    opacity: 0.4;
    transition: 2s;
}

.videolink:hover{
 opacity: 1;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    width:fit-content;
    margin: auto;
    padding: 0px;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaaa9;
    text-decoration: underline;
    transition: 1.5s;
}

nav li a.active {
    background-color: rgb(214, 99, 3);
}

nav li a.active:hover{
    background-color: rgb(255, 115, 0);
    transition: 1.5s;
}



